
<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#00c1c7">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#00c1c7">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#00c1c7">
    <title>BlueRain Blog</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/admin.css") %>"/>
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-wrapper">
          <a class="brand-logo right">仪表盘</a>
          <ul id="nav-mobile" class="left hide-on-small-only">
            <li>
              <%= live_link "写文",
                    to: Routes.live_path(@conn, BlogWeb.Admin.AddArticleLive) %>
            </li>
            <li>
              <%= live_link "续更",
                    to: Routes.live_path(@conn, BlogWeb.Admin.EditArticleLive) %>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <ul id="slide-out" class="sidenav sidenav-fixed">
      <li>
        <div class="user-view blue lighten-1">
          <a>
            <img class="circle" src="<%= Routes.static_path(@conn, "/images/avatar.png") %>">
          </a>
          <a><span class="name white-text">Hentioe</span></a>
          <a><span class="email white-text">me@bluerain.com</span></a>
        </div>
      </li>
      <li>
        <%= live_link "仪表盘",
              class: "sidenav-close",
              to: Routes.dashboard_path(@conn, BlogWeb.Admin.DashboardLive) %>
      </li>
      <li><div class="divider"></div></li>
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">文章管理</a>
            <div class="collapsible-body">
              <ul>
                <li>
                  <%= live_link "发表文章",
                        class: "sidenav-close",
                        to: Routes.live_path(@conn, BlogWeb.Admin.AddArticleLive) %>
                </li>
                <li>
                  <%= live_link "更新文章",
                        class: "sidenav-close",
                        to: Routes.live_path(@conn, BlogWeb.Admin.EditArticleLive) %>
                </li>
                <li><a href="#!">恢复文章</a></li>
                <li><a href="#!">附加操作</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
      <li><a class="sidenav-close">分类管理</a></li>
      <li><a class="sidenav-close">标签管理</a></li>
      <li><a class="sidenav-close">评论管理</a></li>
      <li><div class="divider"></div></li>
      <li><a class="sidenav-close">设置</a></li>
    </ul>
    <main>
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/admin.js") %>"></script>
  </body>
</html>
