<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>BlueRain Blog</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <div id="progressbar" style="top:0;position:fixed;z-index:999;width:100%;"></div>
    <nav
        class="navbar has-shadow is-fixed-top bl-nav"
        role="navigation"
        aria-label="main navigation"
      >
        <div class="container">
          <div class="navbar-brand">
            <%= live_link "首页", 
                  class: "navbar-item",
                  to: Routes.live_path(@conn, BlogWeb.IndexLive) %>
            <a href="/tweets" class="navbar-item">想法</a>
            <a
              role="button"
              class="navbar-burger burger"
              aria-label="menu"
              aria-expanded="false"
              data-target="navbarBasicExample"
            >
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>

          <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
            </div>
            <div class="navbar-end">
              <a
                class="navbar-item"
                href="https://github.com/Hentioe/blog"
                target="_blank"
              >
                <span class="icon">
                  <i class="fab fa-lg fa-github-alt"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
    </nav>
    <main>
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
