@import "./admin/base.scss";
@import "../node_modules/materialize-css/sass/materialize.scss";
@import "./admin/page.scss";

header,
main,
footer {
  padding-left: 300px;
}

@media only screen and (max-width: 992px) {
  header,
  main,
  footer {
    padding-left: 0;
  }
}

// Sidenav
.sidenav {
  .collapsible-header {
    padding: 0 $sidenav-padding * 2;
  }
  .collapsible-body {
    ul {
      &:not(.collapsible) > li.active a i {
        // 图标跟随变色
        color: $sidenav-bg-color;
      }
      li a {
        padding: 0 $sidenav-padding * 3;
      }
    }
  }
}
