@import "./base.scss";
@import "./icon.scss";
@import "../node_modules/bulma/bulma.sass";
@import "./pages/index.scss";
@import "./pages/article.scss";

// 链接默认样式
a {
  @extend %link;
}

// 导航栏效果
$nav-menu-item-border-width: 3px;
$nav-menu-item-transition-duration: 0.2s;
$navbar-background-active-color: darken($navbar-background-color, 10%);

.navbar {
  a.navbar-item {
    &[href="/"] {
      color: #82BCFF;
    }
    &[href="/readding"] {
      color: #99FF82;
    }
    color: darken($default-link-color, 5%);
    border-top: $nav-menu-item-border-width solid rgba(0, 0, 0, 0);
    border-bottom: $nav-menu-item-border-width solid rgba(0, 0, 0, 0);
    transition: border-bottom $nav-menu-item-transition-duration,
      color $nav-menu-item-transition-duration;
    &:hover,
    &.is-active {
      color: $default-main-color;
      border-top: $nav-menu-item-border-width solid
        $navbar-item-hover-background-color;
      border-bottom: $nav-menu-item-border-width solid $default-main-color;
      background-color: white;
    }
    &:active {
      background-color: $navbar-background-active-color;
      border-top: $nav-menu-item-border-width solid
        $navbar-background-active-color;
      border-bottom: $nav-menu-item-border-width solid
        darken($default-background-color, 25%);
    }
  }
}

// 页脚（位于侧边）
.bl-sidefooter {
  position: sticky;
  top: $navbar-height + $default-spacing;
  &-about {
    a {
      text-decoration: underline;
    }
  }
  &-copyright {
    padding: 0.2rem;
    color: darken($default-background-color, 45%);
    font-size: 0.9rem;
  }
}

.bl-page > .container > .section {
  padding: 1.5rem 0.75rem;
  & > .columns {
    margin-left: 0;
    margin-right: 0;
    & > .column {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

// 改进不同设备样式
@media screen and (min-width: 1024px) {
  .bl-page > .container > .section {
    padding: $default-spacing 0;
    & > .columns {
      margin-left: -$column-gap;
      margin-right: -$column-gap;
      & > .column {
        padding-left: $column-gap;
        padding-right: $column-gap;
      }
    }
  }
}
@media screen and (max-width: 960px) {
  .bl-page > .container > .section {
    padding: $default-spacing 0;
  }
}

// 圆角卡片
.card {
  border-radius: $radius;
  .card-footer {
    border-radius: 0 0 $radius $radius;
  }
  .card-header {
    border-radius: $radius $radius 0 0;
  }
}

// 类样式实现
.bl {
  &-sidecards {
    .card {
      margin-bottom: $default-spacing;
    }
  }
}
