@import "../base.scss";

$article-list-item-transition-duration: 0.5s;
$article-list-item-color: #ececec;

.bl-index {
  &-articles-item {
    border-bottom: 1px solid $article-list-item-color;
    transition: border-bottom $article-list-item-transition-duration;
    cursor: pointer;
    &:hover {
      border-bottom: 1px solid $default-main-color;
    }
    &-title {
      a {
        @extend %link;
      }
    }
    &-rm {
      padding: 0 0 0 0.75rem;
      span {
        font-size: 12px;
        background-color: rgba(0, 218, 224, 0.4);
        color: white;
        padding: 2px 5px;
        border-radius: 12px;
        width: 30px;
        display: inline-block;
      }
    }
  }
  &-categories {
    padding: $card-content-padding 0;
    &-item {
      display: block;
      padding: 0.5rem $card-content-padding;
      &.is-active,
      &:hover {
        background-color: rgba(0, 218, 224, 0.4);
        color: white;
      }
    }
  }
  &-tags {
    padding: $card-content-padding / 2;
    & > * {
      margin: $card-content-padding / 8;
    }
  }
}
