@import "../base.scss";

$article-list-item-transition-duration: 0.5s;
$article-list-item-color: #ececec;

.bl-index {
  &-article {
    border-bottom: 1px solid $article-list-item-color;
    transition: border-bottom $article-list-item-transition-duration;
    cursor: pointer;
    &:hover {
      border-bottom: 1px solid $default-main-color;
    }
    &-title {
      a {
        @extend %link;
      }
    }
    &-rm {
      padding: 0 0 0 0.75rem;
      span {
        font-size: 12px;
        background: lighten($default-main-color, 40%);
        color: white;
        padding: 2px 5px;
        border-radius: 12px;
        width: 30px;
        display: inline-block;
      }
    }
    &-categories {
      padding: $card-content-padding 0;
      &-item {
        display: block;
        padding: 0.5rem $card-content-padding;
        &.is-active,
        &:hover {
          background-color: lighten($default-main-color, 40%);
          color: white;
        }
      }
    }
    &-tags {
      padding: 0.5rem $card-content-padding;
      &-item {
        font-size: 0.9rem;
        background: lighten($default-main-color, 50%);
        color: $default-main-color;
        padding: 2px 6px;
        margin: 0.5rem 0;
        border-radius: 12px;
        display: inline-block;
        &:hover {
          background: lighten($default-main-color, 45%);
        }
      }
    }
  }
  &-about {
    a {
      text-decoration: underline;
    }
  }
}
