@import "../base.scss";

.bl-article {
  &-title {
    word-break: break-word;
  }
  &-metainfo {
    padding: 0.75rem;
    color: lighten($default-link-color, 30%);
    font-size: 0.8rem;
    border-bottom: 1px solid $default-box-shadow-color;
    a {
      color: darken($default-link-color, 30%);
    }
  }
  &-content {
    @for $i from 1 through 6 {
      h#{$i} {
        font-weight: 400;
      }
    }
  }
}
