<div class="card bl-sidefooter-about">
  <header class="card-header">
    <p class="card-header-title">关于</p>
  </header>
  <div class="card-content">
    <div>
      <p>
        <a>博客的说明和相关历史</a>
      </p>
    </div>
  </div>
</div>
<div class="bl-sidefooter-copyright">
  <span>蓝雨博客 · 2019</span>
</div>
